.div1{
    margin-left: 25px;
    border: 2px solid ;
    border-radius: 15px;

}
.image1{
    width: 200px;
    height: 200px;
}
.div2{
    margin-left: 25px;
    border: 2px solid;
    border-radius: 10px;
}