.bg-container{
    background-image: url("https://www.jobat.be//-/media/jobat/jobat-be/articles/op-business-school.jpg?mw=906&hash=FA475DDACD263F1C43EEF52CC6FCC4C0");
    height: 400px;
    background-size: cover;
}
.child-container{
    padding: 15px;
    margin-left: 200px;
    margin-top: 150px;
}
.div1{
    background-color:rgb(226, 120, 137);
}
.div2{
    background-color: rgb(103, 232, 103);
}
.div3{
    background-color: rgb(87, 87, 234);
}
.div4{
    margin-top: 40px;
    margin-left: 650px;
    font-size: 50px;
    text-align: center;
}
.div5{
    text-align: center;
}
.div6{
    background-color: cadetblue;
}
h3{
    text-align: center;
}
